html,
body {
    /*height: 100%;*/
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.help-block-error {
    color: #8f0219;
    font-size: 18px;
}
.selector__item, .selector__item_all {
    cursor: pointer;
}
.selector__item:hover, .selector__item_all:hover {
    background-color: #dfdfdf;
}

span.selector__item.select {
    background-color: #94d966;
}
.filter-bg {
    background-image: url('../i/bg.jpg');
/*    overflow-x: auto;
    max-height: 200px;*/
}
.filter__item.is-active {
    background-color: #dfdfdf;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.selector__item, .selector__item_all {
    white-space: nowrap;
    overflow: hidden;
}
.issues-list__loadmore {
    cursor: pointer; /* Add a pointer on hover */;
}
.selector__item_all{padding:0 15px;margin-right:10px;margin-bottom:10px;border:1px solid #dfdfdf;border-radius:25px;height:50px;width:200px;line-height:50px;text-decoration:none;background:#e31837}.selector__item_all,.selector__item_all img,.selector__item_all span{display:inline-block;vertical-align:middle}.selector__item_all img{margin-right:8px}.selector__item_all span{font-size:16px;color:#fff}@media (max-width:767px){.selector{display:block}.selector__label{display:block;margin-bottom:20px;text-align:center}.selector__item_all{display:block;margin:0 auto 10px}}

@media (min-width: 1690px){
    .container {
        width: 1660px;
    }
}